<div class ="floating-box">
    <p><center class="product-title">@ViewBag.CurrentProduct.Title</center></p>
    <img  class="product-image" src="@ViewBag.CurrentProduct.Image" />
    <p><center class="product-description">@ViewBag.CurrentProduct.Description</center></p>
    <p><center class="product-description">@ViewBag.CurrentProduct.SupplierName</center></p>
</div>
