body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #c7eae5;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: whitesmoke;
    height: 100%;
    width: 80%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-inverse { background-color: #08306b; }

.admin-main-view {
    padding : 5px 5px 5px 5px;
    margin : 5px 5px 5px 5px;
    border-radius : 10px;
    background-color: #efedf5;
}

.floating-box {
    float: left;
    width: 330px;
    height: 400px;
    margin: 10px;
    cursor : pointer;
    border-radius : 10px;
    border-style: solid;
    border-color: #bcbddc;
    border-width: thin;
    background-color: #f5f5f5;

}

.product-image {
    -webkit-transition: width 10s; /* Safari */
    transition: width 10s;
    -webkit-transition: height 10s; /* Safari */
    transition: height 10s;
    margin-top : 5px;
    margin-left:10px;
    width: 300px;
    height: 250px;
}

.product-image:hover {
    width: 300px;
    height: 400px;
}

.product-title {
    font-family: "Lucida Bright",Georgia,serif;
    font-weight: bold;
    color : #00441b;
}

h3 {
    padding: 10px;
    color:#02544e;
}

h1 {
    padding: 10px;
    color:#01665e;
    text-shadow: 2px 2px #ff0000;
}

#form-div {

   display:inline-block;
    width :85%;
}
.search-label {
    margin : 5px;
}

.search-price {
    width: 40px;
}

.search-store-div{
    clear: right;
    display:inline-block;
    width :100%;
}

.form-horizontal{
}
.search-button {
    margin-right:5%;
    width: 10%;
    float:right;
}

input#criteria.search-text {
    height : 20px;
}

aside {
    background-color: rgba(185, 195, 200, 0.64);
    margin-top: 10%;
    float: left;
    width : 14%;
    border-radius: 6px;
    border : 1px solid gray;
}

.weather-title{
    font-size:medium;
}

.weather-city {
    clear: left;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.weather-line {
    clear: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.chart {
    font-family: Arial, sans-serif;
    font-size: 10px;
  }

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

.bar {
    fill: steelblue;
 }

.statistics-info {
}

.introduction {
    font-family: myFirstFont;
    border-radius : 5px;
    background-color: rgba(185, 195, 200, 0.64);
    padding: 5px;
    border : 1px solid gray;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

@font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

.arc path {
  stroke: #fff;
}

/* List of advantages */
.advantage-div {
  margin: 0 10% 0 10%;
}
 
.advantage-div-text-box {
    width:40%;
    display: inline-block;
}

.advantage-div-smiley-box {
    width:20%; 
    display: inline-block;
}

.advantage-div ul {
  list-style-type: none;
  width: 100%;
}
 
.advantage-div h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
 
.advantage-div li img {
  float: left;
  margin: 0 15px 0 0;
}
 
.advantage-div li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
.advantage-div li {
  padding: 10px;
  overflow: auto;
  border-radius: 30px;
  width: 100%;
}
 
.advantage-div li:hover {
  background: #1d91c0;
  cursor: pointer;
}

/*/ LOGIN LINK /*/
#login-link-home {
	background-color:#c7eae5;
	/*-moz-border-radius:28px;*/
	/*-webkit-border-radius:28px;*/
	border-radius:28px;
	/*border:1px solid #18ab29;*/
    border:none;
	display:inline-block;
	cursor:pointer;
	color:#525252;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	/*text-shadow:0px 1px 0px #2f6627;*/
    font-weight:bold;
}
#login-link-home:hover {
	background-color:#6FA099;
    color:black;
}
#login-link-home:active {
	position:relative;
	top:1px;
}

#Facebook {
	background-color:#c7eae5;
	/*-moz-border-radius:28px;*/
	/*-webkit-border-radius:28px;*/
	border-radius:28px;
	/*border:1px solid #18ab29;*/
    border:none;
	display:inline-block;
	cursor:pointer;
	color:#525252;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	/*text-shadow:0px 1px 0px #2f6627;*/
    font-weight:bold;
}
#Facebook:hover {
	background-color:#6FA099;
    color:black;
}
#Facebook:active {
	position:relative;
	top:1px;
}

.facebook-redirect-div {
    text-align:center;
}

/* FACEBOOK REDIRECT AREA/*/
.facebook-redirect-div div {
  width: 100%;
  height: 100%;
}

.facebook-redirect-div h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.facebook-redirect-div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.facebook-redirect-div li {
  /*font: 200 20px/1.5 Helvetica, Verdana, sans-serif;*/
  font-family:helvetica, arial, sans-serif;
  font-size:14px;
  width: 100%;
}

.facebook-redirect-div li:last-child {
  border: none;
}

.facebook-redirect-div li a {
  text-decoration: none;
  color: black;
  display: block;
}

.happiest-wrapper {
    height: 320px;
    background-color:#c7eae5;
	border-radius:28px;
    border:none;
	cursor:pointer;
	color:#525252;
	font-family:Arial;
	font-size:17px;
	text-decoration:none;
    font-weight:bold;
}

.happiest-title {
    padding-left : 30px;
}