<div class="awaiting-for-data-div">
    <div class="awaiting-for-data-smilies-div">
        <img id="img-smilies" class="awaiting-for-data-smilies" height="100" width="500" src="@Url.Content("~/Content/Images/smilies/FullBanner.png")" />
    </div>
    <div class="awaiting-for-data-header">Welcome to socie! We're glad you joined</div>
    <div class="awaiting-for-data-text">Very soon you'll be able to have different perspective over your friends emotions</div>
    <div class="awaiting-for-data-text">We already started preparing your data</div>
    <div class="awaiting-for-data-text">It might take about 10 - 20 minutes... so be patient and come back to see first results</div>
</div>
