
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script type="text/javascript">
</script>
<div id="heppiest-section">
    <h2>Your top happiest images</h2>
    <div id="happiest-div">

    </div>
    @foreach (var v in ViewBag.topFriends)
    {
        <div class="happiest-wrapper">
            <div class="happiest-title">@(v.userName)'s happiest photos</div>
            <div id="happiest-div@(v.userId)"></div>
        </div>
    }
</div>

