
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script type="text/javascript">
</script>
<div id="heppiest-section">
    <h2>You top happiest images</h2>
    <div id="happiest-div">

    </div>
</div>

