
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script type="text/javascript">
</script>
<div id="heppiest-section">
    <div class="header centered">Your top happiest images</div>
    <br />
    <br />
    <div class="happiest-wrapper">
        <div class="happiest-title">Your top happiest photos</div>
        <div id="happiest-div-@(ViewBag.personId)"></div>
    </div>

    </div>
    @foreach (var v in ViewBag.topF)
    {
        <div class="happiest-wrapper">
            <div class="happiest-title">@(v.userName)'s happiest photos</div>
            <div id="happiest-div-@(v.userId)"></div>
        </div>
    }
</div>

