
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script type="text/javascript">
</script>
<div id="heppiest-section">
    <div class="header centered">Your top <span class="emotion-str">happiest</span> images</div>
    <br />
    <br />
    <div class="happiest-wrapper">
        <div class="happiest-title">Your top <span class="emotion-str">happiest</span> photos</div>
        <div id="happiest-div-@(ViewBag.personId)" class="happy-div"></div>
    </div>

    </div>
    @foreach (var v in ViewBag.topF)
    {
        <div class="happiest-wrapper">
            <img src="@Url.Content("~/Content/Images/" + v.userId + "/image_" + v.profilePicId + "_small.jpg")" height="50" width="50" class="emotions-click-img" />
            <div class="happiest-title">@(v.userName)'s <span class="emotion-str">happiest</span> photos</div>
            <div id="happiest-div-@(v.userId)" class="happy-div"></div>
        </div>
    }
</div>

