@{
    ViewBag.Title = "About Socie";
}
<div class="header centered">@ViewBag.Title</div>
<br />
<br />
@Html.Partial("SmiliesLine")
<div style="width:60%;margin:0 auto;">
    <cite style="font-family:Corbel;font-size:large;line-height:200%">
        "Think about what people are doing on Facebook today. They're keeping up with their friends and family,
        but they're also building an image and identity for themselves, which in a sense is their brand. They're
        connecting with the audience that they want to connect to."
    </cite>
    <br />
    <div>
        -Mark Zuckerberg
    </div>
    <br />
    <br />
    <div style="font-family:Corbel;font-size:large;">
        The project goal is to implement a system, that gives the users a different point of view, relating the info
        gained from their social networks.
        We want to build a web site that analyzes and visualizes data, obtained from a user’s social networks
        (e.g. Facebook, Twitter...), and is a social network as well.
        A system that knows how to mix-up other registered friends’ data to better understand the relations
        between them.
        In other words, it’s a social network that uses the information about a user and his friends, and lets
        them understand the real state of the world that appear behind their social networks.
        The application will also allow these users to follow each other, help them to communicate `on the go`
        while following their actions, feelings, thoughts and more.
    </div>
</div>