<div class="advantage-div">
    <ul>
        <li>
            <div class="advantage-div-smiley-box">
                <img src="@Url.Content("~/Content/Images/smilies/SunGlasses.png")" height="55" width="55" />
            </div>            
            <div class="advantage-div-text-box">
                <h3>Where are my friends?</h3>
                <p>See a feed of all your friends updated photos</p>
            </div>
        </li>

        <li>
            <div class="advantage-div-smiley-box">
                <img src="@Url.Content("~/Content/Images/smilies/SunGlasses.png")" height="55" width="55" />
            </div>
            <div class="advantage-div-text-box">
                <h3>Are they happy?</h3>
                <p>See how your friends and family are felling now!</p>
            </div>
        </li>

        <li>
            <div class="advantage-div-smiley-box">
                <img src="@Url.Content("~/Content/Images/smilies/SunGlasses.png")" height="55" width="55" />
            </div>            
            <div class="advantage-div-text-box">
                <h3>Who's the happiest?</h3>
                <p>See the top emotional images of you and your friends</p>
            </div>
        </li>

        <li>
            <div class="advantage-div-smiley-box">
                <img src="@Url.Content("~/Content/Images/smilies/SunGlasses.png")" height="55" width="55" />
            </div>            
            <div class="advantage-div-text-box">
                <h3>What emotions are they exposing?</h3>
                <p>See what's the top feelings in your friends posts, and publications</p>
            </div>
        </li>
    </ul>
</div>
