<div class="advantage-div">
    <ul>
        <li>
            <div class="advantage-div-smiley-box">
                <img src="@Url.Content("~/Content/Images/smilies/SunGlasses.png")" height="55" width="55" />
            </div>            
            <div class="advantage-div-text-box">
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
        </li>

        <li>
            <div class="advantage-div-smiley-box">
                <img src="@Url.Content("~/Content/Images/smilies/SunGlasses.png")" height="55" width="55" />
            </div>
            <div class="advantage-div-text-box">
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
        </li>

        <li>
            <div class="advantage-div-smiley-box">
                <img src="@Url.Content("~/Content/Images/smilies/SunGlasses.png")" height="55" width="55" />
            </div>            
            <div class="advantage-div-text-box">
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
        </li>

        <li>
            <div class="advantage-div-smiley-box">
                <img src="@Url.Content("~/Content/Images/smilies/SunGlasses.png")" height="55" width="55" />
            </div>            
            <div class="advantage-div-text-box">
                <h3>Headline</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
        </li>
    </ul>
</div>
