@{
    ViewBag.Title = "Socie - Know Your Socialites Better";
    ViewBag.HomeMain = true;
}

<div style="height: inherit;">
    @Html.Partial("SmiliesLine")
    <div style="width:70%;margin: 0 auto;background-color:#2c7fb8;border-radius: 10px;">
        @Html.Partial("HomeSocieAdvantages")
    </div>
    <div style="width:70%;margin: 0 auto;">
        @Html.Partial("LoginHomeMain")
    </div>
</div>