<div style="width:30%;margin: 0 auto;">
    <span>
        @Html.ActionLink("Start Analysis Right Now!", "Index", "Account/Login", routeValues: null, htmlAttributes: new { id = "login-link-home" })
    </span>
</div>